<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the request is for an existing directory or file, don't rewrite
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Unconditionally rewrite everything to the "public" subdirectory
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>
